@media (max-width: 992px) {
    .nav-tabs {
        min-width: 100%;
        display: inline-grid;
    }

    a.nav-link.active {
        text-align: center;
        border-bottom: 1px solid !important;
        border-color: #C8CED3 !important;
    }
}